<div class="container">
  <div class="row mt-5">
      <h5 class="two-line-heading">ジャンル一覧・追加</h5>
  </div>
  <div class="row mt-5">
    <div class="col">
      <%= form_with model: @genre, url: admins_genres_path, class:"form-inline", local: true do |f| %>
        <%= f.label :name, "ジャンル名", class:"form-group ml-1" %>
        <%= f.text_field :name, class:"form-group ml-5", placeholder: "ジャンル名" %>
        <%= f.submit '新規登録', class:'btn-flat-success ml-5' %>
      <% end %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td class="d-flex justify-content-center"><%= link_to "編集する", edit_admins_genre_path(genre.id), class:"btn-flat-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>