<div class="container">
  <div class="row">
    <div class="col-mt-30 text-center">
      <%= attachment_image_tag @item, :image, :fill, 400, 250, format: 'jpeg', fallback: "no_image.jpg", size: "400x250" %>
    </div>

      <div class="col-md-1"></div>
      <div class="col-md-6 text-left">
          <div class="row" style="line-hight: 40px;">
            <div class="col-md-12" style="font-size: 25px;">
              <h3><strong><%= @item.name %></strong></h3>

            </div>
          </div>
          <div class="row" style="margin-bottom: 120px;">
            <div class="col-md-12">
              <%= @item.introduction %>
            </div>
          </div>
        <div class="row">
          <div class="col-md-2 text-left">
            <h4>¥<%= @item.price.to_s(:delimited) %></h4>
          </div>
          <div class="col-md-2 text-center" style="padding-top: 5px;">
              <P style="font-size: 15px;">（税込）</P>
          </div>
        </div>
          <%= form_with model: @cart_item, url:customers_cart_items_path, local:true do |f| %>
          <div class="row">
            <div class="col-md-6 text-left btn-lg">
              <%= f.select :amount, options_for_select((1..10).to_a), include_blank: "個数選択" %>
            </div>
            <div class="col-md-6 text-left" style="margin-top: 8px;">
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.submit "カートに入れる", :class => "btn btn-outline-secondary btn-block" %>

            </div>
          </div>
          <% end %>
      </div>


        <div class="col-md-1"></div>
  </div>
</div>