<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

      <%= link_to 'Fragrances Shop', root_path, class: "logo" %>
        <div class="navbar mt-4 nav-left" id="navbarToggleExternalContent">
          <% if customer_signed_in? %>
            <%= link_to 'My Page' ,class: "btn btn-outline-light nav-menu-text btn-sm" %>
            <%= link_to ' Item ', public_items_path, class: "btn btn-outline-info nav-menu-text ms-4 btn-sm" %>
            <%= link_to '　Cart　',  public_cart_items_path, class: "btn btn-outline-info ms-4 btn-sm" %>
            <%= link_to 'Logout', destroy_customer_session_path, method: :delete, class: "btn btn-outline-info nav-menu-text ms-4 me-4 btn-sm" %>
          <% elsif admin_signed_in? %>
            <%= link_to ' Item ', admins_items_path, class: "btn btn-outline-info nav-menu-text btn-sm" %>
            <%= link_to ' Member ', class: "btn btn-outline-light nav-menu-text ms-4 btn-sm " %>
            <%= link_to ' Order ', class: "btn btn-outline-light nav-menu-text ms-4 btn-sm " %>
            <%= link_to ' Genre ', admins_genres_path,class: "btn btn-outline-info ms-4 btn-sm" %>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "btn btn-outline-light nav-menu-text ms-4 me-4 btn-sm" %>
          <% else %>
            <%= link_to ' About ', items_path, class: "btn btn-outline-info btn-sm" %>
            <%= link_to ' Item ',class: "btn btn-outline-light ms-4 btn-sm" %>
            <%= link_to ' Signup ', new_customer_registration_path,class: "btn btn-outline-info ms-4 btn-sm" %>
            <%= link_to ' Login ', new_customer_session_path,class: "btn btn-outline-info ms-4 btn-sm" %>
          <% end %>
        </div>
        <nav class="navbar navbar-dark bg-dark header-nav mt-0" media="screen and (max-width: 480px)">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
    </div>
  </nav>
</header>